@using EPiServer.Core
@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html

@model RestImageResize.WebEPiTest.Models.Pages.StartPage

<h2>@Model.Name</h2>
<div>
    @if (PageEditing.PageIsInEditMode)
    { 
    @Html.PropertyFor(m => m.MainImage)
    }
    else
    {
        <img src="@Model.MainImage" />
        <img src="@Model.MainImage?width=300" />
        <img src="@Model.MainImage?width=300&transform=fit" />
        <img src="@Model.MainImage?width=300&transform=fill" />
        <img src="@Model.MainImage?width=300&transform=crop" />
        <img src="@Model.MainImage?width=300&transform=stretch" />
    }
</div>