@using EPiServer.Core
@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html

@model RestImageResize.EPiServer.Test.Models.Pages.StartPage

<h2>@Model.Name</h2>
<div>
    @if (PageEditing.PageIsInEditMode)
    { 
        @Html.PropertyFor(m => m.Image)
    }
    else
    {
        <img src="@Url.ContentUrl(@Model.Image)" />
        <img src="@Url.ContentUrl(@Model.Image)?width=300" />
        <img src="@Url.ContentUrl(@Model.Image)?width=300&transform=fit" />
        <img src="@Url.ContentUrl(@Model.Image)?width=300&transform=fill" />
        <img src="@Url.ContentUrl(@Model.Image)?width=300&transform=crop" />
        <img src="@Url.ContentUrl(@Model.Image)?width=300&transform=stretch" />
    }
</div>